

# ----------------- Init Section -----------------

include "system.in.init"


# ----------------- Atom Definition Section -----------------

read_data "system.data"

# ----------------- Settings Section -----------------

include "system.in.settings"


# ----------------- Charges Section -----------------

include "system.in.charges"
